<title><%= pageTitle %> | <%= config.application.name %> <%= config.application.env %></title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

<meta name="description" content="A prototype to control a CSGO server with an nodejs server">
<meta name="author" content="Glenn de Haan">
<meta name="keywords" content="csgo, admin, panel, nodejs, rcon">

<meta property="og:title" content="<%= config.application.name %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="<%= baseUrl %>"/>
<meta property="og:description" content=""/>

<link rel="alternate" href="<%= baseUrl %>" hreflang="en" />
<link rel="canonical" href="<%= baseUrl %>" />

<meta name="theme-color" content="#000000"/>
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="manifest" href="/manifest.json">

<script type='application/ld+json'>
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "<%= config.application.name %>",
        "url": "<%= baseUrl %>"
    }
</script>

<link href="/dist/<%= assets.css %>" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
    window.loadTime = Date.now();
</script>
